body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url('../public/bg.png');
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

.no-tasks-container {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.no-tasks-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.no-tasks-description {
  font-size: 14px;
  color: #888;
}


h1 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

.tasks-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.task {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.task p {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
}

.task .label {
  font-weight: bold;
  margin-right: 5px;
}

.task .category {
  margin-top: 8px;
  font-style: italic;
  color: #666;
}

.filter {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
}

.filter h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-option {
  margin-right: 20px;
  margin-bottom: 10px;
}

.filter-option p {
  margin-bottom: 5px;
}

.filter-option select,
.filter-option button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-option select:hover,
.filter-option button:hover {
  background-color: #ddd;
}

.filter-option select:focus,
.filter-option button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.filter-option input[type="date"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.filter-option input[type="date"]:hover,
.filter-option input[type="date"]:focus {
  border-color: #999;
}

.search {
  margin-bottom: 20px;
}

.search h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.search-input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.done {
  margin-right: 5px;
  background-color: #5cb85c;
}

.remove {
  background-color: #d9534f;
}

.update {
  margin-right: 5px;
  background-color: #888;
}

.task-form {
  padding-bottom: 1.5rem;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
